# image files
*.tiff
*.jp2
*.png
*.gif
*.html

# data files
*.csv
*.qgz
*.zip
*.json
*.geojson
*.nc

# folders
*.SAFE/
.ipynb_checkpoints/
.vscode/
__pycache__/
output/

# credentials folder
secrets/

# shapefile dependencies
shp/
*.shp
*.cpg
*.dbf
*.prj
*.shx
