# base scientific libraries
numpy
scipy
pandas

# plotting libraries
matplotlib

# geospatial libraries
rasterio
sentinelsat
utm
geojson
fiona
earthengine-api

# image processing libraries
opencv
pillow
skimage

# others
rtree
