# base scientific libraries
numpy
scipy
pandas

# plotting libraries
matplotlib
seaborn
folium

# geospatial libraries
rasterio
sentinelsat
utm
geojson
fiona
earthengine-api

# image processing libraries
opencv
pillow
scikit-image

# others
rtree
notebook
